<html>
<div class="container-fluid navbar-white mb-4">
    <header>
        <div class="container">
        </div>
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-light">
                <img src="assets/images/logos/logo.png"
                     class="logo"
                     alt="CloneDeal Logo">

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#toggleMobileMenu"
                        aria-controls="toggleMobileMenu"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                     id="toggleMobileMenu">
                    <ul class="navbar-nav ms-auto text-center navbar-nav mx-auto">
                        <li>

                            <a class="nav-link"
                               id="active"
                               href="index.html">Home</a>
                        </li>
                        <li>
                            <a class="nav-link"
                               href="shop.html">Login</a>
                        </li>
                        <li>
                            <a class="nav-link"
                               href="about.html">Sign up</a>
                        </li>
                        <button class="btn btn-primary"
                                (click)="show = !show">{{show? 'Hide':'Add a Car'}}</button>

                    </ul>
                </div>
            </nav>
        </div>
    </header>

</div>
<div class="container">
    <app-form [show]="show"
              [carData]="null"
              [button3]="'Insert'"></app-form>
    <!-- <app-add-car [show]="show"></app-add-car> -->
    <app-carlist></app-carlist>
</div>

</html>