<div class="container p-2">
    <div class="row border car-card p-2">
        <div class="col-3">
            <img src="{{carData.imageURL}}"
                 [style.width.px]="carImageWidth"
                 alt="">
        </div>
        <div class="col-8 p-4">
            {{carData.make}} {{carData.model}}, {{carData.year}}
        </div>

        <button type="submit"
                (click)="deleteCar()">Delete</button>

        <app-edit-car [carData]="carData"></app-edit-car>
    </div>

</div>