<div class="container p-2">
    <div class="row border car-card p-2">
        <div class="col-3">
            <img src="{{carData.imageURL}}"
                 [style.width.px]="carImageWidth"
                 alt="">
        </div>
        <div class="col-8 p-4">
            {{carData.make}} {{carData.model}}, {{carData.year}}
        </div>
        <!-- remove car here-->
        <button type="submit"
                (click)="deleteCar()">Delete</button>
        <button type="submit"
                (click)="editCar()">Edit</button>
        <button class="btn btn-primary"
                (click)="isEdit = !isEdit">{{isEdit? 'Cancel':'Edit'}}</button>
        <div *ngIf="isEdit">
            <form>
                <label>Make</label>
                <input type="text"
                       name="make"
                       placeholder="Enter Make"
                       #make>

                <label>Model</label>
                <input type="text"
                       name="model"
                       placeholder="Enter Model"
                       #model>
                <label>Year</label>
                <input type="text"
                       name="year"
                       placeholder="Enter Year"
                       #year>

                <label>Image</label>
                <input type="text"
                       name="imageURL"
                       placeholder="Enter Link to Image"
                       #imageUrl>

                <button type="submit"
                        (click)="updateCar(make.value, model.value, year.value, imageUrl.value)">Add the
                    Car</button>

            </form>
        </div>
    </div>

</div>